USE [master]
GO
/****** Object:  Database [ConfeWare1]    Script Date: 16/06/2017 12:03:05 ******/
CREATE DATABASE [ConfeWare1]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ConfeWare1', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.CONFEWARE\MSSQL\DATA\ConfeWare1.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'ConfeWare1_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.CONFEWARE\MSSQL\DATA\ConfeWare1_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ConfeWare1].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ConfeWare1]
GO
/****** Object:  Table [dbo].[ OPERACIONESENSAMBLE]    Script Date: 16/06/2017 12:03:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ OPERACIONESENSAMBLE](
	[IdEnsamble] [int] IDENTITY(1,1) NOT NULL,
	[Operacion] [varchar](200) NOT NULL,
	[SAM] [float] NOT NULL,
	[Observacion] [varchar](200) NOT NULL,
	[TiempoTotal] [float] NOT NULL,
 CONSTRAINT [primary key] PRIMARY KEY CLUSTERED 
(
	[IdEnsamble] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[AGUJA]    Script Date: 16/06/2017 12:03:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[AGUJA](
	[IdAguja] [int] IDENTITY(1,1) NOT NULL,
	[Referencia] [varchar](100) NOT NULL,
	[Calibre] [varchar](100) NOT NULL,
	[Punta] [varchar](100) NOT NULL,
 CONSTRAINT [primary key1] PRIMARY KEY CLUSTERED 
(
	[IdAguja] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CALIBREENTRETELAS]    Script Date: 16/06/2017 12:03:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CALIBREENTRETELAS](
	[idCalibreEntreTelas] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
 CONSTRAINT [primary key2] PRIMARY KEY CLUSTERED 
(
	[idCalibreEntreTelas] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CALIBREENTRETELAS_HAS_ENTRETELAS]    Script Date: 16/06/2017 12:03:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CALIBREENTRETELAS_HAS_ENTRETELAS](
	[CalibreEntreTelas_idCalibreEntreTelas] [int] NOT NULL,
	[EntreTelas_idEntreTelas] [int] NOT NULL,
 CONSTRAINT [primary key4] PRIMARY KEY CLUSTERED 
(
	[CalibreEntreTelas_idCalibreEntreTelas] ASC,
	[EntreTelas_idEntreTelas] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[COLECCION]    Script Date: 16/06/2017 12:03:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[COLECCION](
	[idColeccion] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](45) NOT NULL,
 CONSTRAINT [primary key5] PRIMARY KEY CLUSTERED 
(
	[idColeccion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CONTROLCALIDAD]    Script Date: 16/06/2017 12:03:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CONTROLCALIDAD](
	[Tipo] [int] NOT NULL,
	[Prenda_Referencia] [varchar](100) NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DEPARTAMENTOS]    Script Date: 16/06/2017 12:03:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DEPARTAMENTOS](
	[idDepartamentos] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](45) NOT NULL,
 CONSTRAINT [primary key8] PRIMARY KEY CLUSTERED 
(
	[idDepartamentos] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DETALLESFICHASTECNICAS]    Script Date: 16/06/2017 12:03:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DETALLESFICHASTECNICAS](
	[Obs_Disenio] [varchar](200) NOT NULL,
	[Obs_Patronaje] [varchar](200) NOT NULL,
	[Obs_Trazo] [varchar](200) NOT NULL,
	[Descripcion_Tendido] [varchar](200) NOT NULL,
	[Descripcion_Corte] [varchar](200) NOT NULL,
	[Descripcion_Trazo] [varchar](200) NOT NULL,
	[Descripcion_Recogido] [varchar](200) NOT NULL,
	[DescripcionProcesoCostura] [varchar](200) NOT NULL,
	[Prenda_Referencia] [varchar](100) NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[EMPRESA]    Script Date: 16/06/2017 12:03:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[EMPRESA](
	[NIT] [varchar](100) NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[Logo] [varchar](100) NOT NULL,
 CONSTRAINT [primary key9] PRIMARY KEY CLUSTERED 
(
	[NIT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ENTRETELAS]    Script Date: 16/06/2017 12:03:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ENTRETELAS](
	[idEntreTelas] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](45) NOT NULL,
	[Ubicacion] [varchar](100) NOT NULL,
 CONSTRAINT [primary key3] PRIMARY KEY CLUSTERED 
(
	[idEntreTelas] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[FECHAS]    Script Date: 16/06/2017 12:03:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FECHAS](
	[idFechas] [int] IDENTITY(1,1) NOT NULL,
	[FechaProgramacion] [date] NOT NULL,
	[FechaContramuestra] [date] NOT NULL,
	[FechaProduccion] [date] NOT NULL,
 CONSTRAINT [primary key10] PRIMARY KEY CLUSTERED 
(
	[idFechas] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[IMAGENESFICHASTECNICAS]    Script Date: 16/06/2017 12:03:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[IMAGENESFICHASTECNICAS](
	[DisenioDibujo] [varchar](200) NOT NULL,
	[DisenioReal] [varchar](200) NOT NULL,
	[Patronaje] [varchar](200) NOT NULL,
	[Trazo] [varchar](200) NOT NULL,
	[Prenda_Referencia] [varchar](100) NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LINEA]    Script Date: 16/06/2017 12:03:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LINEA](
	[idLinea] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](45) NOT NULL,
 CONSTRAINT [primary key6] PRIMARY KEY CLUSTERED 
(
	[idLinea] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[MAQUINAS]    Script Date: 16/06/2017 12:03:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MAQUINAS](
	[Referencia] [varchar](100) NOT NULL,
	[Nombre] [varchar](200) NOT NULL,
	[FolderOAditamiento] [varchar](200) NOT NULL,
	[Observacion] [varchar](200) NOT NULL,
 CONSTRAINT [primary key11] PRIMARY KEY CLUSTERED 
(
	[Referencia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[MAQUINAS_HAS_AGUJA]    Script Date: 16/06/2017 12:03:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MAQUINAS_HAS_AGUJA](
	[Maquinas_Referencia] [varchar](100) NOT NULL,
	[Aguja_IdAguja] [int] NOT NULL,
 CONSTRAINT [primary key12] PRIMARY KEY CLUSTERED 
(
	[Maquinas_Referencia] ASC,
	[Aguja_IdAguja] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[MARQUILLAS]    Script Date: 16/06/2017 12:03:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MARQUILLAS](
	[IdMarquillas] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[Ubicacion] [varchar](100) NOT NULL,
 CONSTRAINT [primary key13] PRIMARY KEY CLUSTERED 
(
	[IdMarquillas] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[MATERIALES]    Script Date: 16/06/2017 12:03:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MATERIALES](
	[idMateriales] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[Composicion] [varchar](200) NOT NULL,
	[ConsumoXUnidad] [float] NOT NULL,
	[Color] [varchar](100) NOT NULL,
	[ImagenMuestra] [varchar](100) NOT NULL,
	[Observacion] [varchar](200) NOT NULL,
	[Unidad_idUnidad] [int] NOT NULL,
 CONSTRAINT [primary key15] PRIMARY KEY CLUSTERED 
(
	[idMateriales] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[MATERIALES_HAS_PROVEEDOR]    Script Date: 16/06/2017 12:03:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MATERIALES_HAS_PROVEEDOR](
	[Materiales_idMateriales] [int] NOT NULL,
	[Proveedor_NIT] [varchar](45) NOT NULL,
 CONSTRAINT [primary key17] PRIMARY KEY CLUSTERED 
(
	[Materiales_idMateriales] ASC,
	[Proveedor_NIT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[MEDIDAS]    Script Date: 16/06/2017 12:03:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MEDIDAS](
	[idMedidas] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [varchar](100) NOT NULL,
 CONSTRAINT [primary key18] PRIMARY KEY CLUSTERED 
(
	[idMedidas] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[MEDIDAS_HAS_TALLAS]    Script Date: 16/06/2017 12:03:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MEDIDAS_HAS_TALLAS](
	[Medidas_idMedidas] [int] NOT NULL,
	[Tallas_idTallas] [int] NOT NULL,
 CONSTRAINT [primary key20] PRIMARY KEY CLUSTERED 
(
	[Medidas_idMedidas] ASC,
	[Tallas_idTallas] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[OPERACIONESPREPARACION]    Script Date: 16/06/2017 12:03:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[OPERACIONESPREPARACION](
	[IdPreparacion] [int] IDENTITY(1,1) NOT NULL,
	[Operacion] [varchar](200) NOT NULL,
	[SAM] [float] NOT NULL,
	[Observacion] [varchar](200) NOT NULL,
	[TiempoTotal] [float] NOT NULL,
 CONSTRAINT [primary key21] PRIMARY KEY CLUSTERED 
(
	[IdPreparacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[OPERACIONESTERMINACION]    Script Date: 16/06/2017 12:03:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[OPERACIONESTERMINACION](
	[IdTerminacion] [int] IDENTITY(1,1) NOT NULL,
	[Operacion] [varchar](200) NOT NULL,
	[SAM] [float] NOT NULL,
	[Observacion] [varchar](200) NOT NULL,
	[TiempoTotal] [float] NOT NULL,
 CONSTRAINT [primary key22] PRIMARY KEY CLUSTERED 
(
	[IdTerminacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[OPERACIONESTERMINACION_HAS_PRENDA]    Script Date: 16/06/2017 12:03:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[OPERACIONESTERMINACION_HAS_PRENDA](
	[OperacionesTerminacion_IdTerminacion] [int] NOT NULL,
	[Prenda_Referencia] [varchar](100) NOT NULL,
 CONSTRAINT [primary key23] PRIMARY KEY CLUSTERED 
(
	[OperacionesTerminacion_IdTerminacion] ASC,
	[Prenda_Referencia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ORDENPRODUCCION]    Script Date: 16/06/2017 12:03:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ORDENPRODUCCION](
	[idOrdenProduccion] [int] IDENTITY(1,1) NOT NULL,
	[idPersona_GeneraOP] [int] NOT NULL,
	[Prenda_Referencia] [varchar](100) NOT NULL,
	[idFechas] [int] NOT NULL,
	[PrendasTotales] [int] NOT NULL,
 CONSTRAINT [primary key26] PRIMARY KEY CLUSTERED 
(
	[idOrdenProduccion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PERSONA]    Script Date: 16/06/2017 12:03:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PERSONA](
	[idPersona] [int] IDENTITY(1,1) NOT NULL,
	[Rol_idRol] [int] NOT NULL,
	[PrNombre] [varchar](45) NOT NULL,
	[SegNombre] [varchar](45) NULL,
	[PrmApellido] [varchar](45) NOT NULL,
	[SegApellido] [varchar](45) NULL,
	[Identificacion] [varchar](45) NOT NULL,
	[CorreoElectronico] [varchar](100) NOT NULL,
	[Contrasenia] [varchar](100) NOT NULL,
	[Empresa_NIT] [varchar](100) NOT NULL,
 CONSTRAINT [primary key25] PRIMARY KEY CLUSTERED 
(
	[idPersona] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PIEZA]    Script Date: 16/06/2017 12:03:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PIEZA](
	[Referencia] [varchar](100) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Descripcion] [varchar](200) NOT NULL,
 CONSTRAINT [primary key27] PRIMARY KEY CLUSTERED 
(
	[Referencia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PRENDA]    Script Date: 16/06/2017 12:03:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PRENDA](
	[Referencia] [varchar](100) NOT NULL,
	[Linea_idLinea] [int] NOT NULL,
	[idColeccion] [int] NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[Descripcion] [varchar](200) NOT NULL,
	[PrendasRealizadas] [int] NULL,
	[TotalEficiencia] [float] NULL,
 CONSTRAINT [primary key7] PRIMARY KEY CLUSTERED 
(
	[Referencia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PRENDA_HAS_ OPERACIONESENSAMBLE]    Script Date: 16/06/2017 12:03:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PRENDA_HAS_ OPERACIONESENSAMBLE](
	[Prenda_Referencia] [varchar](100) NOT NULL,
	[ OperacionesEnsamble_IdEnsamble] [int] NOT NULL,
 CONSTRAINT [primary key28] PRIMARY KEY CLUSTERED 
(
	[Prenda_Referencia] ASC,
	[ OperacionesEnsamble_IdEnsamble] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PRENDA_HAS_ENTRETELAS]    Script Date: 16/06/2017 12:03:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PRENDA_HAS_ENTRETELAS](
	[Prenda_Referencia] [varchar](100) NOT NULL,
	[EntreTelas_idEntreTelas] [int] NOT NULL,
 CONSTRAINT [primary key29] PRIMARY KEY CLUSTERED 
(
	[Prenda_Referencia] ASC,
	[EntreTelas_idEntreTelas] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PRENDA_HAS_MAQUINAS]    Script Date: 16/06/2017 12:03:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PRENDA_HAS_MAQUINAS](
	[Prenda_Referencia] [varchar](100) NOT NULL,
	[Maquinas_Referencia] [varchar](100) NOT NULL,
 CONSTRAINT [primary key30] PRIMARY KEY CLUSTERED 
(
	[Prenda_Referencia] ASC,
	[Maquinas_Referencia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PRENDA_HAS_MARQUILLAS]    Script Date: 16/06/2017 12:03:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PRENDA_HAS_MARQUILLAS](
	[Prenda_Referencia] [varchar](100) NOT NULL,
	[Marquillas_IdMarquillas] [int] NOT NULL,
 CONSTRAINT [primary key31] PRIMARY KEY CLUSTERED 
(
	[Prenda_Referencia] ASC,
	[Marquillas_IdMarquillas] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PRENDA_HAS_MATERIALES]    Script Date: 16/06/2017 12:03:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PRENDA_HAS_MATERIALES](
	[Prenda_Referencia] [varchar](100) NOT NULL,
	[Materiales_idMateriales] [int] NOT NULL,
 CONSTRAINT [primary key32] PRIMARY KEY CLUSTERED 
(
	[Prenda_Referencia] ASC,
	[Materiales_idMateriales] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PRENDA_HAS_OPERACIONESPREPARACION]    Script Date: 16/06/2017 12:03:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PRENDA_HAS_OPERACIONESPREPARACION](
	[Prenda_Referencia] [varchar](100) NOT NULL,
	[OperacionesPreparacion_IdPreparacion] [int] NOT NULL,
 CONSTRAINT [primary key33] PRIMARY KEY CLUSTERED 
(
	[Prenda_Referencia] ASC,
	[OperacionesPreparacion_IdPreparacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PRENDA_HAS_PIEZA]    Script Date: 16/06/2017 12:03:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PRENDA_HAS_PIEZA](
	[Prenda_Referencia] [varchar](100) NOT NULL,
	[Pieza_Referencia] [varchar](100) NOT NULL,
 CONSTRAINT [primary key34] PRIMARY KEY CLUSTERED 
(
	[Prenda_Referencia] ASC,
	[Pieza_Referencia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PRENDA_HAS_TALLAS]    Script Date: 16/06/2017 12:03:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PRENDA_HAS_TALLAS](
	[Prenda_Referencia] [varchar](100) NOT NULL,
	[Tallas_idTallas] [int] NOT NULL,
 CONSTRAINT [primary key35] PRIMARY KEY CLUSTERED 
(
	[Prenda_Referencia] ASC,
	[Tallas_idTallas] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PROVEEDOR]    Script Date: 16/06/2017 12:03:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PROVEEDOR](
	[NIT] [varchar](45) NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
 CONSTRAINT [primary key16] PRIMARY KEY CLUSTERED 
(
	[NIT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ROL]    Script Date: 16/06/2017 12:03:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ROL](
	[idRol] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](45) NOT NULL,
	[idDepartamentos] [int] NOT NULL,
 CONSTRAINT [primary key24] PRIMARY KEY CLUSTERED 
(
	[idRol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TALLAS]    Script Date: 16/06/2017 12:03:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TALLAS](
	[idTallas] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](45) NOT NULL,
 CONSTRAINT [primary key19] PRIMARY KEY CLUSTERED 
(
	[idTallas] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[UNIDAD]    Script Date: 16/06/2017 12:03:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[UNIDAD](
	[idUnidad] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [varchar](100) NOT NULL,
 CONSTRAINT [primary key14] PRIMARY KEY CLUSTERED 
(
	[idUnidad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Index [fk_CalibreEntreTelas_has_EntreTelas_CalibreEntreTelas1_idx]    Script Date: 16/06/2017 12:03:05 ******/
CREATE NONCLUSTERED INDEX [fk_CalibreEntreTelas_has_EntreTelas_CalibreEntreTelas1_idx] ON [dbo].[CALIBREENTRETELAS_HAS_ENTRETELAS]
(
	[CalibreEntreTelas_idCalibreEntreTelas] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [fk_CalibreEntreTelas_has_EntreTelas_EntreTelas1_idx]    Script Date: 16/06/2017 12:03:05 ******/
CREATE NONCLUSTERED INDEX [fk_CalibreEntreTelas_has_EntreTelas_EntreTelas1_idx] ON [dbo].[CALIBREENTRETELAS_HAS_ENTRETELAS]
(
	[EntreTelas_idEntreTelas] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [fk_ControlCalidad_Prenda1_idx]    Script Date: 16/06/2017 12:03:05 ******/
CREATE NONCLUSTERED INDEX [fk_ControlCalidad_Prenda1_idx] ON [dbo].[CONTROLCALIDAD]
(
	[Prenda_Referencia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [fk_DetallesFichasTecnicas_Prenda1_idx]    Script Date: 16/06/2017 12:03:05 ******/
CREATE NONCLUSTERED INDEX [fk_DetallesFichasTecnicas_Prenda1_idx] ON [dbo].[DETALLESFICHASTECNICAS]
(
	[Prenda_Referencia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [fk_ImagenesFichasTecnicas_Prenda1_idx]    Script Date: 16/06/2017 12:03:05 ******/
CREATE NONCLUSTERED INDEX [fk_ImagenesFichasTecnicas_Prenda1_idx] ON [dbo].[IMAGENESFICHASTECNICAS]
(
	[Prenda_Referencia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [fk_Maquinas_has_Aguja_Aguja1_idx]    Script Date: 16/06/2017 12:03:05 ******/
CREATE NONCLUSTERED INDEX [fk_Maquinas_has_Aguja_Aguja1_idx] ON [dbo].[MAQUINAS_HAS_AGUJA]
(
	[Aguja_IdAguja] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [fk_Maquinas_has_Aguja_Maquinas1_idx]    Script Date: 16/06/2017 12:03:05 ******/
CREATE NONCLUSTERED INDEX [fk_Maquinas_has_Aguja_Maquinas1_idx] ON [dbo].[MAQUINAS_HAS_AGUJA]
(
	[Maquinas_Referencia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [fk_Materiales_Unidad1_idx]    Script Date: 16/06/2017 12:03:05 ******/
CREATE NONCLUSTERED INDEX [fk_Materiales_Unidad1_idx] ON [dbo].[MATERIALES]
(
	[Unidad_idUnidad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [fk_Materiales_has_Proveedor_Materiales1_idx]    Script Date: 16/06/2017 12:03:05 ******/
CREATE NONCLUSTERED INDEX [fk_Materiales_has_Proveedor_Materiales1_idx] ON [dbo].[MATERIALES_HAS_PROVEEDOR]
(
	[Materiales_idMateriales] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [fk_Materiales_has_Proveedor_Proveedor1_idx]    Script Date: 16/06/2017 12:03:05 ******/
CREATE NONCLUSTERED INDEX [fk_Materiales_has_Proveedor_Proveedor1_idx] ON [dbo].[MATERIALES_HAS_PROVEEDOR]
(
	[Proveedor_NIT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [fk_Medidas_has_Tallas_Medidas1_idx]    Script Date: 16/06/2017 12:03:05 ******/
CREATE NONCLUSTERED INDEX [fk_Medidas_has_Tallas_Medidas1_idx] ON [dbo].[MEDIDAS_HAS_TALLAS]
(
	[Medidas_idMedidas] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [fk_Medidas_has_Tallas_Tallas1_idx]    Script Date: 16/06/2017 12:03:05 ******/
CREATE NONCLUSTERED INDEX [fk_Medidas_has_Tallas_Tallas1_idx] ON [dbo].[MEDIDAS_HAS_TALLAS]
(
	[Tallas_idTallas] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [fk_OperacionesTerminacion_has_Prenda_OperacionesTerminacion_idx]    Script Date: 16/06/2017 12:03:05 ******/
CREATE NONCLUSTERED INDEX [fk_OperacionesTerminacion_has_Prenda_OperacionesTerminacion_idx] ON [dbo].[OPERACIONESTERMINACION_HAS_PRENDA]
(
	[OperacionesTerminacion_IdTerminacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [fk_OperacionesTerminacion_has_Prenda_Prenda1_idx]    Script Date: 16/06/2017 12:03:05 ******/
CREATE NONCLUSTERED INDEX [fk_OperacionesTerminacion_has_Prenda_Prenda1_idx] ON [dbo].[OPERACIONESTERMINACION_HAS_PRENDA]
(
	[Prenda_Referencia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [fk_OrdenProduccion_Fechas1_idx]    Script Date: 16/06/2017 12:03:05 ******/
CREATE NONCLUSTERED INDEX [fk_OrdenProduccion_Fechas1_idx] ON [dbo].[ORDENPRODUCCION]
(
	[idFechas] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [fk_OrdenProduccion_Persona1_idx]    Script Date: 16/06/2017 12:03:05 ******/
CREATE NONCLUSTERED INDEX [fk_OrdenProduccion_Persona1_idx] ON [dbo].[ORDENPRODUCCION]
(
	[idPersona_GeneraOP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [fk_OrdenProduccion_Prenda2_idx]    Script Date: 16/06/2017 12:03:05 ******/
CREATE NONCLUSTERED INDEX [fk_OrdenProduccion_Prenda2_idx] ON [dbo].[ORDENPRODUCCION]
(
	[Prenda_Referencia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [fk_Persona_Empresa1_idx]    Script Date: 16/06/2017 12:03:05 ******/
CREATE NONCLUSTERED INDEX [fk_Persona_Empresa1_idx] ON [dbo].[PERSONA]
(
	[Empresa_NIT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [fk_Persona_Rol1_idx]    Script Date: 16/06/2017 12:03:05 ******/
CREATE NONCLUSTERED INDEX [fk_Persona_Rol1_idx] ON [dbo].[PERSONA]
(
	[Rol_idRol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [fk_Prenda_Coleccion1_idx]    Script Date: 16/06/2017 12:03:05 ******/
CREATE NONCLUSTERED INDEX [fk_Prenda_Coleccion1_idx] ON [dbo].[PRENDA]
(
	[idColeccion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [fk_Prenda_Linea1_idx]    Script Date: 16/06/2017 12:03:05 ******/
CREATE NONCLUSTERED INDEX [fk_Prenda_Linea1_idx] ON [dbo].[PRENDA]
(
	[Linea_idLinea] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [fk_Prenda_has_ OperacionesEnsamble_ OperacionesEnsamble1_idx]    Script Date: 16/06/2017 12:03:05 ******/
CREATE NONCLUSTERED INDEX [fk_Prenda_has_ OperacionesEnsamble_ OperacionesEnsamble1_idx] ON [dbo].[PRENDA_HAS_ OPERACIONESENSAMBLE]
(
	[ OperacionesEnsamble_IdEnsamble] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [fk_Prenda_has_ OperacionesEnsamble_Prenda1_idx]    Script Date: 16/06/2017 12:03:05 ******/
CREATE NONCLUSTERED INDEX [fk_Prenda_has_ OperacionesEnsamble_Prenda1_idx] ON [dbo].[PRENDA_HAS_ OPERACIONESENSAMBLE]
(
	[Prenda_Referencia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [fk_Prenda_has_EntreTelas_EntreTelas1_idx]    Script Date: 16/06/2017 12:03:05 ******/
CREATE NONCLUSTERED INDEX [fk_Prenda_has_EntreTelas_EntreTelas1_idx] ON [dbo].[PRENDA_HAS_ENTRETELAS]
(
	[EntreTelas_idEntreTelas] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [fk_Prenda_has_EntreTelas_Prenda1_idx]    Script Date: 16/06/2017 12:03:05 ******/
CREATE NONCLUSTERED INDEX [fk_Prenda_has_EntreTelas_Prenda1_idx] ON [dbo].[PRENDA_HAS_ENTRETELAS]
(
	[Prenda_Referencia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [fk_Prenda_has_Maquinas_Maquinas1_idx]    Script Date: 16/06/2017 12:03:05 ******/
CREATE NONCLUSTERED INDEX [fk_Prenda_has_Maquinas_Maquinas1_idx] ON [dbo].[PRENDA_HAS_MAQUINAS]
(
	[Maquinas_Referencia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [fk_Prenda_has_Maquinas_Prenda1_idx]    Script Date: 16/06/2017 12:03:05 ******/
CREATE NONCLUSTERED INDEX [fk_Prenda_has_Maquinas_Prenda1_idx] ON [dbo].[PRENDA_HAS_MAQUINAS]
(
	[Prenda_Referencia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [fk_Prenda_has_Marquillas_Marquillas1_idx]    Script Date: 16/06/2017 12:03:05 ******/
CREATE NONCLUSTERED INDEX [fk_Prenda_has_Marquillas_Marquillas1_idx] ON [dbo].[PRENDA_HAS_MARQUILLAS]
(
	[Marquillas_IdMarquillas] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [fk_Prenda_has_Marquillas_Prenda1_idx]    Script Date: 16/06/2017 12:03:05 ******/
CREATE NONCLUSTERED INDEX [fk_Prenda_has_Marquillas_Prenda1_idx] ON [dbo].[PRENDA_HAS_MARQUILLAS]
(
	[Prenda_Referencia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [fk_Prenda_has_Materiales_Materiales1_idx]    Script Date: 16/06/2017 12:03:05 ******/
CREATE NONCLUSTERED INDEX [fk_Prenda_has_Materiales_Materiales1_idx] ON [dbo].[PRENDA_HAS_MATERIALES]
(
	[Materiales_idMateriales] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [fk_Prenda_has_Materiales_Prenda1_idx]    Script Date: 16/06/2017 12:03:05 ******/
CREATE NONCLUSTERED INDEX [fk_Prenda_has_Materiales_Prenda1_idx] ON [dbo].[PRENDA_HAS_MATERIALES]
(
	[Prenda_Referencia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [fk_Prenda_has_OperacionesPreparacion_OperacionesPreparacion_idx]    Script Date: 16/06/2017 12:03:05 ******/
CREATE NONCLUSTERED INDEX [fk_Prenda_has_OperacionesPreparacion_OperacionesPreparacion_idx] ON [dbo].[PRENDA_HAS_OPERACIONESPREPARACION]
(
	[OperacionesPreparacion_IdPreparacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [fk_Prenda_has_OperacionesPreparacion_Prenda1_idx]    Script Date: 16/06/2017 12:03:05 ******/
CREATE NONCLUSTERED INDEX [fk_Prenda_has_OperacionesPreparacion_Prenda1_idx] ON [dbo].[PRENDA_HAS_OPERACIONESPREPARACION]
(
	[Prenda_Referencia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [fk_Prenda_has_Pieza_Pieza1_idx]    Script Date: 16/06/2017 12:03:05 ******/
CREATE NONCLUSTERED INDEX [fk_Prenda_has_Pieza_Pieza1_idx] ON [dbo].[PRENDA_HAS_PIEZA]
(
	[Pieza_Referencia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [fk_Prenda_has_Pieza_Prenda1_idx]    Script Date: 16/06/2017 12:03:05 ******/
CREATE NONCLUSTERED INDEX [fk_Prenda_has_Pieza_Prenda1_idx] ON [dbo].[PRENDA_HAS_PIEZA]
(
	[Prenda_Referencia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [fk_Prenda_has_Tallas_Prenda1_idx]    Script Date: 16/06/2017 12:03:05 ******/
CREATE NONCLUSTERED INDEX [fk_Prenda_has_Tallas_Prenda1_idx] ON [dbo].[PRENDA_HAS_TALLAS]
(
	[Prenda_Referencia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [fk_Prenda_has_Tallas_Tallas1_idx]    Script Date: 16/06/2017 12:03:05 ******/
CREATE NONCLUSTERED INDEX [fk_Prenda_has_Tallas_Tallas1_idx] ON [dbo].[PRENDA_HAS_TALLAS]
(
	[Tallas_idTallas] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [fk_Rol_Departamentos1_idx]    Script Date: 16/06/2017 12:03:05 ******/
CREATE NONCLUSTERED INDEX [fk_Rol_Departamentos1_idx] ON [dbo].[ROL]
(
	[idDepartamentos] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CALIBREENTRETELAS_HAS_ENTRETELAS]  WITH CHECK ADD  CONSTRAINT [fk_CalibreEntreTelas_has_EntreTelas_CalibreEntreTelas1] FOREIGN KEY([CalibreEntreTelas_idCalibreEntreTelas])
REFERENCES [dbo].[CALIBREENTRETELAS] ([idCalibreEntreTelas])
GO
ALTER TABLE [dbo].[CALIBREENTRETELAS_HAS_ENTRETELAS] CHECK CONSTRAINT [fk_CalibreEntreTelas_has_EntreTelas_CalibreEntreTelas1]
GO
ALTER TABLE [dbo].[CALIBREENTRETELAS_HAS_ENTRETELAS]  WITH CHECK ADD  CONSTRAINT [fk_CalibreEntreTelas_has_EntreTelas_EntreTelas1] FOREIGN KEY([EntreTelas_idEntreTelas])
REFERENCES [dbo].[ENTRETELAS] ([idEntreTelas])
GO
ALTER TABLE [dbo].[CALIBREENTRETELAS_HAS_ENTRETELAS] CHECK CONSTRAINT [fk_CalibreEntreTelas_has_EntreTelas_EntreTelas1]
GO
ALTER TABLE [dbo].[CONTROLCALIDAD]  WITH CHECK ADD  CONSTRAINT [fk_ControlCalidad_Prenda1] FOREIGN KEY([Prenda_Referencia])
REFERENCES [dbo].[PRENDA] ([Referencia])
GO
ALTER TABLE [dbo].[CONTROLCALIDAD] CHECK CONSTRAINT [fk_ControlCalidad_Prenda1]
GO
ALTER TABLE [dbo].[DETALLESFICHASTECNICAS]  WITH CHECK ADD  CONSTRAINT [fk_DetallesFichasTecnicas_Prenda1] FOREIGN KEY([Prenda_Referencia])
REFERENCES [dbo].[PRENDA] ([Referencia])
GO
ALTER TABLE [dbo].[DETALLESFICHASTECNICAS] CHECK CONSTRAINT [fk_DetallesFichasTecnicas_Prenda1]
GO
ALTER TABLE [dbo].[IMAGENESFICHASTECNICAS]  WITH CHECK ADD  CONSTRAINT [fk_ImagenesFichasTecnicas_Prenda1] FOREIGN KEY([Prenda_Referencia])
REFERENCES [dbo].[PRENDA] ([Referencia])
GO
ALTER TABLE [dbo].[IMAGENESFICHASTECNICAS] CHECK CONSTRAINT [fk_ImagenesFichasTecnicas_Prenda1]
GO
ALTER TABLE [dbo].[MAQUINAS_HAS_AGUJA]  WITH CHECK ADD  CONSTRAINT [fk_Maquinas_has_Aguja_Aguja1] FOREIGN KEY([Aguja_IdAguja])
REFERENCES [dbo].[AGUJA] ([IdAguja])
GO
ALTER TABLE [dbo].[MAQUINAS_HAS_AGUJA] CHECK CONSTRAINT [fk_Maquinas_has_Aguja_Aguja1]
GO
ALTER TABLE [dbo].[MAQUINAS_HAS_AGUJA]  WITH CHECK ADD  CONSTRAINT [fk_Maquinas_has_Aguja_Maquinas1] FOREIGN KEY([Maquinas_Referencia])
REFERENCES [dbo].[MAQUINAS] ([Referencia])
GO
ALTER TABLE [dbo].[MAQUINAS_HAS_AGUJA] CHECK CONSTRAINT [fk_Maquinas_has_Aguja_Maquinas1]
GO
ALTER TABLE [dbo].[MATERIALES]  WITH CHECK ADD  CONSTRAINT [fk_Materiales_Unidad1] FOREIGN KEY([Unidad_idUnidad])
REFERENCES [dbo].[UNIDAD] ([idUnidad])
GO
ALTER TABLE [dbo].[MATERIALES] CHECK CONSTRAINT [fk_Materiales_Unidad1]
GO
ALTER TABLE [dbo].[MATERIALES_HAS_PROVEEDOR]  WITH CHECK ADD  CONSTRAINT [fk_Materiales_has_Proveedor_Materiales1] FOREIGN KEY([Materiales_idMateriales])
REFERENCES [dbo].[MATERIALES] ([idMateriales])
GO
ALTER TABLE [dbo].[MATERIALES_HAS_PROVEEDOR] CHECK CONSTRAINT [fk_Materiales_has_Proveedor_Materiales1]
GO
ALTER TABLE [dbo].[MATERIALES_HAS_PROVEEDOR]  WITH CHECK ADD  CONSTRAINT [fk_Materiales_has_Proveedor_Proveedor1] FOREIGN KEY([Proveedor_NIT])
REFERENCES [dbo].[PROVEEDOR] ([NIT])
GO
ALTER TABLE [dbo].[MATERIALES_HAS_PROVEEDOR] CHECK CONSTRAINT [fk_Materiales_has_Proveedor_Proveedor1]
GO
ALTER TABLE [dbo].[MEDIDAS_HAS_TALLAS]  WITH CHECK ADD  CONSTRAINT [fk_Medidas_has_Tallas_Medidas1] FOREIGN KEY([Medidas_idMedidas])
REFERENCES [dbo].[MEDIDAS] ([idMedidas])
GO
ALTER TABLE [dbo].[MEDIDAS_HAS_TALLAS] CHECK CONSTRAINT [fk_Medidas_has_Tallas_Medidas1]
GO
ALTER TABLE [dbo].[MEDIDAS_HAS_TALLAS]  WITH CHECK ADD  CONSTRAINT [fk_Medidas_has_Tallas_Tallas1] FOREIGN KEY([Tallas_idTallas])
REFERENCES [dbo].[TALLAS] ([idTallas])
GO
ALTER TABLE [dbo].[MEDIDAS_HAS_TALLAS] CHECK CONSTRAINT [fk_Medidas_has_Tallas_Tallas1]
GO
ALTER TABLE [dbo].[OPERACIONESTERMINACION_HAS_PRENDA]  WITH CHECK ADD  CONSTRAINT [fk_OperacionesTerminacion_has_Prenda_OperacionesTerminacion1] FOREIGN KEY([OperacionesTerminacion_IdTerminacion])
REFERENCES [dbo].[OPERACIONESTERMINACION] ([IdTerminacion])
GO
ALTER TABLE [dbo].[OPERACIONESTERMINACION_HAS_PRENDA] CHECK CONSTRAINT [fk_OperacionesTerminacion_has_Prenda_OperacionesTerminacion1]
GO
ALTER TABLE [dbo].[OPERACIONESTERMINACION_HAS_PRENDA]  WITH CHECK ADD  CONSTRAINT [fk_OperacionesTerminacion_has_Prenda_Prenda1] FOREIGN KEY([Prenda_Referencia])
REFERENCES [dbo].[PRENDA] ([Referencia])
GO
ALTER TABLE [dbo].[OPERACIONESTERMINACION_HAS_PRENDA] CHECK CONSTRAINT [fk_OperacionesTerminacion_has_Prenda_Prenda1]
GO
ALTER TABLE [dbo].[ORDENPRODUCCION]  WITH CHECK ADD  CONSTRAINT [fk_OrdenProduccion_Fechas1] FOREIGN KEY([idFechas])
REFERENCES [dbo].[FECHAS] ([idFechas])
GO
ALTER TABLE [dbo].[ORDENPRODUCCION] CHECK CONSTRAINT [fk_OrdenProduccion_Fechas1]
GO
ALTER TABLE [dbo].[ORDENPRODUCCION]  WITH CHECK ADD  CONSTRAINT [fk_OrdenProduccion_Persona1] FOREIGN KEY([idPersona_GeneraOP])
REFERENCES [dbo].[PERSONA] ([idPersona])
GO
ALTER TABLE [dbo].[ORDENPRODUCCION] CHECK CONSTRAINT [fk_OrdenProduccion_Persona1]
GO
ALTER TABLE [dbo].[ORDENPRODUCCION]  WITH CHECK ADD  CONSTRAINT [fk_OrdenProduccion_Prenda2] FOREIGN KEY([Prenda_Referencia])
REFERENCES [dbo].[PRENDA] ([Referencia])
GO
ALTER TABLE [dbo].[ORDENPRODUCCION] CHECK CONSTRAINT [fk_OrdenProduccion_Prenda2]
GO
ALTER TABLE [dbo].[PERSONA]  WITH CHECK ADD  CONSTRAINT [fk_Persona_Empresa1] FOREIGN KEY([Empresa_NIT])
REFERENCES [dbo].[EMPRESA] ([NIT])
GO
ALTER TABLE [dbo].[PERSONA] CHECK CONSTRAINT [fk_Persona_Empresa1]
GO
ALTER TABLE [dbo].[PERSONA]  WITH CHECK ADD  CONSTRAINT [fk_Persona_Rol1] FOREIGN KEY([Rol_idRol])
REFERENCES [dbo].[ROL] ([idRol])
GO
ALTER TABLE [dbo].[PERSONA] CHECK CONSTRAINT [fk_Persona_Rol1]
GO
ALTER TABLE [dbo].[PRENDA]  WITH CHECK ADD  CONSTRAINT [fk_Prenda_Coleccion1] FOREIGN KEY([idColeccion])
REFERENCES [dbo].[COLECCION] ([idColeccion])
GO
ALTER TABLE [dbo].[PRENDA] CHECK CONSTRAINT [fk_Prenda_Coleccion1]
GO
ALTER TABLE [dbo].[PRENDA]  WITH CHECK ADD  CONSTRAINT [fk_Prenda_Linea1] FOREIGN KEY([Linea_idLinea])
REFERENCES [dbo].[LINEA] ([idLinea])
GO
ALTER TABLE [dbo].[PRENDA] CHECK CONSTRAINT [fk_Prenda_Linea1]
GO
ALTER TABLE [dbo].[PRENDA_HAS_ OPERACIONESENSAMBLE]  WITH CHECK ADD  CONSTRAINT [fk_Prenda_has_ OperacionesEnsamble_ OperacionesEnsamble1] FOREIGN KEY([ OperacionesEnsamble_IdEnsamble])
REFERENCES [dbo].[ OPERACIONESENSAMBLE] ([IdEnsamble])
GO
ALTER TABLE [dbo].[PRENDA_HAS_ OPERACIONESENSAMBLE] CHECK CONSTRAINT [fk_Prenda_has_ OperacionesEnsamble_ OperacionesEnsamble1]
GO
ALTER TABLE [dbo].[PRENDA_HAS_ OPERACIONESENSAMBLE]  WITH CHECK ADD  CONSTRAINT [fk_Prenda_has_ OperacionesEnsamble_Prenda1] FOREIGN KEY([Prenda_Referencia])
REFERENCES [dbo].[PRENDA] ([Referencia])
GO
ALTER TABLE [dbo].[PRENDA_HAS_ OPERACIONESENSAMBLE] CHECK CONSTRAINT [fk_Prenda_has_ OperacionesEnsamble_Prenda1]
GO
ALTER TABLE [dbo].[PRENDA_HAS_ENTRETELAS]  WITH CHECK ADD  CONSTRAINT [fk_Prenda_has_EntreTelas_EntreTelas1] FOREIGN KEY([EntreTelas_idEntreTelas])
REFERENCES [dbo].[ENTRETELAS] ([idEntreTelas])
GO
ALTER TABLE [dbo].[PRENDA_HAS_ENTRETELAS] CHECK CONSTRAINT [fk_Prenda_has_EntreTelas_EntreTelas1]
GO
ALTER TABLE [dbo].[PRENDA_HAS_ENTRETELAS]  WITH CHECK ADD  CONSTRAINT [fk_Prenda_has_EntreTelas_Prenda1] FOREIGN KEY([Prenda_Referencia])
REFERENCES [dbo].[PRENDA] ([Referencia])
GO
ALTER TABLE [dbo].[PRENDA_HAS_ENTRETELAS] CHECK CONSTRAINT [fk_Prenda_has_EntreTelas_Prenda1]
GO
ALTER TABLE [dbo].[PRENDA_HAS_MAQUINAS]  WITH CHECK ADD  CONSTRAINT [fk_Prenda_has_Maquinas_Maquinas1] FOREIGN KEY([Maquinas_Referencia])
REFERENCES [dbo].[MAQUINAS] ([Referencia])
GO
ALTER TABLE [dbo].[PRENDA_HAS_MAQUINAS] CHECK CONSTRAINT [fk_Prenda_has_Maquinas_Maquinas1]
GO
ALTER TABLE [dbo].[PRENDA_HAS_MAQUINAS]  WITH CHECK ADD  CONSTRAINT [fk_Prenda_has_Maquinas_Prenda1] FOREIGN KEY([Prenda_Referencia])
REFERENCES [dbo].[PRENDA] ([Referencia])
GO
ALTER TABLE [dbo].[PRENDA_HAS_MAQUINAS] CHECK CONSTRAINT [fk_Prenda_has_Maquinas_Prenda1]
GO
ALTER TABLE [dbo].[PRENDA_HAS_MARQUILLAS]  WITH CHECK ADD  CONSTRAINT [fk_Prenda_has_Marquillas_Marquillas1] FOREIGN KEY([Marquillas_IdMarquillas])
REFERENCES [dbo].[MARQUILLAS] ([IdMarquillas])
GO
ALTER TABLE [dbo].[PRENDA_HAS_MARQUILLAS] CHECK CONSTRAINT [fk_Prenda_has_Marquillas_Marquillas1]
GO
ALTER TABLE [dbo].[PRENDA_HAS_MARQUILLAS]  WITH CHECK ADD  CONSTRAINT [fk_Prenda_has_Marquillas_Prenda1] FOREIGN KEY([Prenda_Referencia])
REFERENCES [dbo].[PRENDA] ([Referencia])
GO
ALTER TABLE [dbo].[PRENDA_HAS_MARQUILLAS] CHECK CONSTRAINT [fk_Prenda_has_Marquillas_Prenda1]
GO
ALTER TABLE [dbo].[PRENDA_HAS_MATERIALES]  WITH CHECK ADD  CONSTRAINT [fk_Prenda_has_Materiales_Materiales1] FOREIGN KEY([Materiales_idMateriales])
REFERENCES [dbo].[MATERIALES] ([idMateriales])
GO
ALTER TABLE [dbo].[PRENDA_HAS_MATERIALES] CHECK CONSTRAINT [fk_Prenda_has_Materiales_Materiales1]
GO
ALTER TABLE [dbo].[PRENDA_HAS_MATERIALES]  WITH CHECK ADD  CONSTRAINT [fk_Prenda_has_Materiales_Prenda1] FOREIGN KEY([Prenda_Referencia])
REFERENCES [dbo].[PRENDA] ([Referencia])
GO
ALTER TABLE [dbo].[PRENDA_HAS_MATERIALES] CHECK CONSTRAINT [fk_Prenda_has_Materiales_Prenda1]
GO
ALTER TABLE [dbo].[PRENDA_HAS_OPERACIONESPREPARACION]  WITH CHECK ADD  CONSTRAINT [fk_Prenda_has_OperacionesPreparacion_OperacionesPreparacion1] FOREIGN KEY([OperacionesPreparacion_IdPreparacion])
REFERENCES [dbo].[OPERACIONESPREPARACION] ([IdPreparacion])
GO
ALTER TABLE [dbo].[PRENDA_HAS_OPERACIONESPREPARACION] CHECK CONSTRAINT [fk_Prenda_has_OperacionesPreparacion_OperacionesPreparacion1]
GO
ALTER TABLE [dbo].[PRENDA_HAS_OPERACIONESPREPARACION]  WITH CHECK ADD  CONSTRAINT [fk_Prenda_has_OperacionesPreparacion_Prenda1] FOREIGN KEY([Prenda_Referencia])
REFERENCES [dbo].[PRENDA] ([Referencia])
GO
ALTER TABLE [dbo].[PRENDA_HAS_OPERACIONESPREPARACION] CHECK CONSTRAINT [fk_Prenda_has_OperacionesPreparacion_Prenda1]
GO
ALTER TABLE [dbo].[PRENDA_HAS_PIEZA]  WITH CHECK ADD  CONSTRAINT [fk_Prenda_has_Pieza_Pieza1] FOREIGN KEY([Pieza_Referencia])
REFERENCES [dbo].[PIEZA] ([Referencia])
GO
ALTER TABLE [dbo].[PRENDA_HAS_PIEZA] CHECK CONSTRAINT [fk_Prenda_has_Pieza_Pieza1]
GO
ALTER TABLE [dbo].[PRENDA_HAS_PIEZA]  WITH CHECK ADD  CONSTRAINT [fk_Prenda_has_Pieza_Prenda1] FOREIGN KEY([Prenda_Referencia])
REFERENCES [dbo].[PRENDA] ([Referencia])
GO
ALTER TABLE [dbo].[PRENDA_HAS_PIEZA] CHECK CONSTRAINT [fk_Prenda_has_Pieza_Prenda1]
GO
ALTER TABLE [dbo].[PRENDA_HAS_TALLAS]  WITH CHECK ADD  CONSTRAINT [fk_Prenda_has_Tallas_Prenda1] FOREIGN KEY([Prenda_Referencia])
REFERENCES [dbo].[PRENDA] ([Referencia])
GO
ALTER TABLE [dbo].[PRENDA_HAS_TALLAS] CHECK CONSTRAINT [fk_Prenda_has_Tallas_Prenda1]
GO
ALTER TABLE [dbo].[PRENDA_HAS_TALLAS]  WITH CHECK ADD  CONSTRAINT [fk_Prenda_has_Tallas_Tallas1] FOREIGN KEY([Tallas_idTallas])
REFERENCES [dbo].[TALLAS] ([idTallas])
GO
ALTER TABLE [dbo].[PRENDA_HAS_TALLAS] CHECK CONSTRAINT [fk_Prenda_has_Tallas_Tallas1]
GO
ALTER TABLE [dbo].[ROL]  WITH CHECK ADD  CONSTRAINT [fk_Rol_Departamentos1] FOREIGN KEY([idDepartamentos])
REFERENCES [dbo].[DEPARTAMENTOS] ([idDepartamentos])
GO
ALTER TABLE [dbo].[ROL] CHECK CONSTRAINT [fk_Rol_Departamentos1]
GO
/****** Object:  StoredProcedure [dbo].[SP_ConsultarUsuarios]    Script Date: 16/06/2017 12:03:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:	<Luisa Vargas>
-- Create date: <07/06/2017>
-- Description:	<Consulta de un usuario>
-- =============================================
-- =============================================
-- Author:	<Fredy Stick Paez Cañon>
-- Create date: <10/06/2017>
-- Description:	<Se añade el parametro de Identificacion>
-- =============================================
CREATE PROCEDURE [dbo].[SP_ConsultarUsuarios]


@CorreoElectronico VARCHAR (100),
@Identificacion VARCHAR (45)


AS
BEGIN

SET NOCOUNT ON;

	SELECT * 
	FROM   PERSONA 
	WHERE  CorreoElectronico = @CorreoElectronico
	OR     Identificacion = @Identificacion
  
END


GO
/****** Object:  StoredProcedure [dbo].[SP_IniciarSesion]    Script Date: 16/06/2017 12:03:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Fredy Stick Paez / Natalia Velasquez>
-- Create date: <10/06/2017>
-- Description:	<Inicia la sesion de un usuario>
-- =============================================
CREATE PROCEDURE [dbo].[SP_IniciarSesion]

@Usuario VARCHAR(100),
@Contrasenia VARCHAR(100)

AS
BEGIN
	

	SET NOCOUNT ON;

	SELECT *
	FROM  PERSONA
	WHERE (CorreoElectronico = @Usuario
	AND	  Contrasenia = @Contrasenia)
	OR    (Identificacion = @Usuario
	AND	  Contrasenia = @Contrasenia)

END


GO
/****** Object:  StoredProcedure [dbo].[SP_InsertarDatosFecha]    Script Date: 16/06/2017 12:03:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Camilo Valenzuela>
-- Create date: <16/06/2017>
-- Description:	<Inserta las fechas de produccion en la tabla fechas>
-- =============================================
CREATE PROCEDURE [dbo].[SP_InsertarDatosFecha]

	@FechaProgramacion Date,
	@FechaContramuestra Date,
	@FechaProduccion Date
AS
BEGIN
	
	SET NOCOUNT ON;

		INSERT INTO FECHAS
		(
			FechaProgramacion,
			FechaContramuestra,
			FechaProduccion
		)
		VALUES
		(
			@FechaProgramacion,
			@FechaContramuestra,
			@FechaProduccion
		)
END

GO
/****** Object:  StoredProcedure [dbo].[SP_InsertarDatosPrenda]    Script Date: 16/06/2017 12:03:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Natalia Velasquez>
-- Create date: <16/06/2017>
-- Description:	<Inserción de los datos en la tabla prenda>
-- =============================================
CREATE PROCEDURE [dbo].[SP_InsertarDatosPrenda]

@Referencia VARCHAR (100),
@Linea INT,
@Coleccion INT,
@Nombre VARCHAR (100),
@Descripcion VARCHAR (MAX)

AS
BEGIN
SET NOCOUNT ON;

	INSERT INTO PRENDA
	(
		 Referencia,
		 Linea_idLinea,
		 idColeccion,
		 Nombre,
		 Descripcion,
		 PrendasRealizadas,
		 TotalEficiencia
	)
	VALUES
	(
		@Referencia,
		@Linea,
		@Coleccion,
		@Nombre,
		@Descripcion,
		'EN PROCESO',
		'EN PROCESO'
	)
END

GO
/****** Object:  StoredProcedure [dbo].[SP_InsertarUsuarios]    Script Date: 16/06/2017 12:03:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:	<Luisa Vargas>
-- Create date: <07/06/2017>
-- Description:	<Insercion de datos en la tabla persona>
-- =============================================

-- =============================================
-- Modifica:	<Fredy Paez>
-- Modifica date: <10/06/2017>
-- Description:	<Se agrega el parametro del nit de la empresa del usuario>
-- =============================================
CREATE PROCEDURE [dbo].[SP_InsertarUsuarios]

@PrNombre VARCHAR (45),
@SegNombre VARCHAR (45),
@PrmApellido VARCHAR (45),
@SegApellido VARCHAR (45),
@Identificacion VARCHAR (45),
@CorreoElectronico VARCHAR (100),
@Contrasenia VARCHAR (100),
@Rol INT,
@Empresa VARCHAR(100)

AS
BEGIN

SET NOCOUNT ON;

   INSERT INTO PERSONA 
   (
		PrNombre,
		SegNombre,
		PrmApellido,
		SegApellido,
		Identificacion,
		CorreoElectronico,
		Contrasenia,
		Rol_idRol,
		Empresa_NIT
	)
	VALUES 
	(
		@PrNombre,
		@SegNombre,
		@PrmApellido,
		@SegApellido,
		@Identificacion,
		@CorreoElectronico,
		@Contrasenia,
		@Rol,
		@Empresa
	)
END


GO
/****** Object:  StoredProcedure [dbo].[SP_LlenarDdlEmpresa]    Script Date: 16/06/2017 12:03:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Natalia Velasquez>
-- Create date: <10/06/2017>
-- Description:	<Llenar DropDownList a partir de la tabla empresa>
-- =============================================
CREATE PROCEDURE [dbo].[SP_LlenarDdlEmpresa]
AS
BEGIN
	SET NOCOUNT ON;

    SELECT Nombre,NIT
	FROM   EMPRESA
END


GO
/****** Object:  StoredProcedure [dbo].[SP_LlenarDdlRol]    Script Date: 16/06/2017 12:03:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Fredy Stick Paez>
-- Create date: <10/06/2017>
-- Description:	<Llena un DropDownList apartir de la tabla Rol>
-- =============================================
CREATE PROCEDURE [dbo].[SP_LlenarDdlRol]
AS
BEGIN
	SET NOCOUNT ON;

    SELECT Nombre
	FROM ROL
END


GO
USE [master]
GO
